﻿                            <tr>
                                <td><a href="{{Links.Application}}">Click here</a> to access LexBase and use your Global Pass User ID and Password to login.​</td>
                            </tr>
                            <tr>
                                <td>We recommend that you bookmark the LexBase site in your web browser.​</td>
                            </tr>
                            <tr>
                                <td>If you have any questions, you can contact us using this email address <a href="mailto:{{Emails.COE.Email}}">{{Emails.COE.Email}}</a>. </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    Kind regards, <br />
                                    OMS Helpdesk Team
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>