﻿{{> _header }}
<tr>
    <td>
        Please find attached an Excel report containing all user modifications made within the last 1 month, in each of the Account for which you have a responsibility.
    </td>
</tr>
{{> _footer }}
