﻿{{> _header }}
<tr>
    <td>
        Please find attached an Excel report containing all obligations completed within the Monitered, in each of the Account for which you have a responsibility.
    </td>
</tr>
{{> _footer }}
