﻿<!DOCTYPE HTML
          PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reminder for completion of obligation(s)</title>
    <style type="text/css">
        <!--
        td {
            font-family: Calibri, Myriad Pro, Arial;
            font-size: 14px;
            font-weight: normal;
            color: #000;
            text-decoration: none;
            padding: 5px;
            text-align: left;
        }

            td .text {
                border: 1px solid #CCC;
                border-collapse: collapse;
            }

        th {
            font-family: Calibri, Myriad Pro, Arial;
            font-size: 16px;
            font-weight: bold;
            color: #FFF;
            text-decoration: none;
            padding: 5px;
            text-align: left;
            background-color: #6786A3;
            border: 1px solid #CCC;
            border-collapse: collapse;
        }

        .bluetxt {
            font-family: Calibri, Myriad Pro, Arial;
            font-size: 14px;
            font-weight: bold;
            color: #69C;
            text-decoration: underline;
        }

        .Head_bold {
            font-family: Calibri, Myriad Pro, Arial;
            font-size: 24px;
            font-weight: bold;
            color: #036;
            text-decoration: none;
            text-align: left;
            padding-bottom: 20px;
            padding-left: 5px;
        }

        a {
            font-family: Calibri, Myriad Pro, Arial;
            font-weight: normal;
            color: #F60;
            text-decoration: none;
        }

        .table_border {
            border: 1px solid #CCC;
            padding: 10px;
        }

        .ob_status {
            font-family: Calibri, Myriad Pro, Arial;
            font-size: 12px;
            font-weight: normal;
            color: #000;
            text-decoration: none;
            padding: 2px;
            text-align: left;
        }
        -->
    </style>
</head>

<body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top" width="90%" class="table_border">
                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="100%">Hi {{To.FullName}}, </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    The following is a list of obligations requiring your action. They are listed in
                                    order of priority and risk to the Account. Please review and take the necessary
                                    action to ensure their timely completion.
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>
                                        <strong>
                                            <font color="red">You have Overdue Obligations:</font>
                                        </strong> These high risk monitored obligations remain open and require your
                                        immediate attention. They have passed their due date and remain at risk to
                                        the Account until their completion. As the Obligation Owner, you are required
                                        to close these obligations in LexBase after their completion. As the Escalation
                                        Owner, you are required to assist the Obligation Owner with their completion.
                                        As the Contract Manager this is for your information as you have the ultimate
                                        responsibility for the closure of these obligations.
                                    </p>
                                    <p>
                                        The attached file: <strong>"ObligationsOverDue.xls"</strong> contains a list of
                                        your overdue obligations.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Use this link to access LexBase to complete these obligations: <a href="{{Links.Application}}">{{Links.Application}}</a>.
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td>If you have any questions, you can contact us using this email address <a href="mailto:{{Emails.COE.Email}}">{{Emails.COE.Email}}</a>. </td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    Kind regards, <br />
                                    OMS Helpdesk Team
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>