﻿{{> _header }}
                <tr>
                    <td>The following Change Request is still waiting to be actioned by the proposed Obligation\Escalation Owner in LexBase:</td>
                </tr>
            </tbody>
        </table>

    </td>
</tr>
<tr>
    <td valign="top" width="100%">
        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <table width="30%" cellpadding="0" cellspacing="0" align="left">
                    <tr>
                        <td width="70%" colspan="2" align="center" class="table_border Head_bold" style="font-size:16px; text-align:center; background-color:#D8E1E5;">Change Request Details</td>
                    </tr>
                    <tr>
                        <td width="23%" nowrap="nowrap" align="center" class="table_border Head_bold" style="font-size:16px; text-align:center; background-color:#EEE;">Change Request ID</td>
                        <td nowrap="nowrap" align="center" class="table_border">{{Request.Id}}</td>
                    </tr>
                    <tr>
                        <td width="23%" nowrap="nowrap" align="center" class="table_border Head_bold" style="font-size:16px; text-align:center; background-color:#EEE;">Change Request Originator</td>
                        <td nowrap="nowrap" align="center" class="table_border">{{Request.User.FullName}}</td>
                    </tr>
                    <tr>
                        <td width="23%" nowrap="nowrap" align="center" class="table_border Head_bold" style="font-size:16px; text-align:center; background-color:#EEE;">Request Type</td>
                        <td nowrap="nowrap" align="center" class="table_border">{{Request.Type.Name}}</td>
                    </tr>
                    <tr>
                        <td width="23%" nowrap="nowrap" align="center" class="table_border Head_bold" style="font-size:16px; text-align:center; background-color:#EEE;">Request Category</td>
                        <td nowrap="nowrap" align="center" class="table_border">{{Request.Type.Category.Name}}</td>
                    </tr>
                    <tr>
                        <td width="23%" nowrap="nowrap" align="center" class="table_border Head_bold" style="font-size:16px; text-align:center; background-color:#EEE;">Dated</td>
                        <td nowrap="nowrap" align="center" class="table_border">{{Request.FormatedDate}}</td>
                    </tr>

                </table>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td width="90%">
        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td valign="top" width="49%">
                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="{{Request.Link}}">Click here</a>
                                        to access the change request.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Please reach out to the proposed Obligation / Escalation Owner to determine what assistance they may <br /> require to action this Change Request as soon as possible.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                </tr>
            </tbody>
        </table>
    </td>
</tr>


{{> _footer }}