﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New {{GroupFor.Type}} information for Manager</title>
    <style type="text/css">
        <!--
        td {
            font-family: Calibri, Myriad Pro, Arial;
            font-size: 14px;
            font-weight: normal;
            color: #000;
            text-decoration: none;
            padding: 5px;
            text-align: left;
        }

        .bluetxt {
            font-family: Calibri, Myriad Pro, Arial;
            font-size: 14px;
            font-weight: bold;
            color: #69C;
            text-decoration: underline;
        }

        .Head_bold {
            font-family: Calibri, Myriad Pro, Arial;
            font-size: 24px;
            font-weight: bold;
            color: #036;
            text-decoration: none;
            text-align: left;
            padding-bottom: 20px;
            padding-left: 5px;
        }

        a {
            font-family: Calibri, Myriad Pro, Arial;
            font-size: 14px;
            font-weight: normal;
            color: #F60;
            text-decoration: none;
        }

        .table_border {
            border: 1px solid #CCC;
            padding: 10px;
        }

        -->
    </style>
</head>

<body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top" width="90%" class="table_border">
                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="100%">Hi {{To.FullName}},</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Welcome to the Obligation Management Service (OMS).</td>
                            </tr>
                            <tr>
                                <td>Document {{Document.Name}} for Account {{Account.Name}} is now active in LexBase, the Obligation Management Service tool, and <span style="text-decoration: underline;">obligations have been assigned to you.</span></td>
                            </tr>
                            <tr>
                                <td><span style="text-decoration: underline;">Attached is a file listing all of your assigned obligations.</span> If you have any high risk (Monitored) and/or moderate risk (Alerted) obligations, LexBase will send you proactive email reminders intended to help you prioritize completion by their due date. You may access all your obligations and associated contract documents in <a href="{{Links.Application}}">LexBase</a>. </td>
                            </tr>
                            <tr>
                                <td>If you have any questions, you can contact us using this email address <a href="mailto:{{Emails.COE.Email}}">{{Emails.COE.Email}}</a>. </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    Kind regards, <br />
                                    OMS Helpdesk Team
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>